<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydroponics - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<link rel="icon" href="C:\Users\cayab\OneDrive\Desktop\python\SmartHydroFarm\static\images\icon.png">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="login-form" method="post" action="{{ url_for('Login') }}">
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="login-username" required>

            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password" required>

            <button type="submit">Login</button>
        </form>

        <div class="switch">
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>

        <div class="icon">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="#"><ion-icon name="logo-google"></ion-icon></a>
            <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
        </div>

 
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
